allow init vendor_file:file mounton;

# Allow init to mount vendor configs
allow init vendor_configs_file:dir mounton;
allow init vendor_configs_file:file mounton;

# Allow init to mount vendor overlay
allow init vendor_overlay_file:dir mounton;

# Allow init to write to sysfs_graphics
allow init sysfs_graphics:file w_file_perms;

allow init vendor_sysfs_battery_supply:file { setattr };

# Allow init to read and write to sysfs_vibrator
allow init sysfs_vibrator:dir search;
allow init sysfs_vibrator:file rw_file_perms;

# Allow init to read and write to vendor_sysfs_graphics
allow init vendor_sysfs_graphics:dir search;
allow init vendor_sysfs_graphics:file rw_file_perms;
